@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Poiret+One|Questrial');
:root{
  --background-color: #1b2128;
  --txtcolor:#dee2e8;
  --txtbox:#1b2128;
}
body{
  background-color: var(--background-color);
}
.header{
  border-width: thin;
}
.person_image{
  width: 6%;
  height: 9%;
}
.day-box.PREP{
  background-color: var(--txtcolor);
  width: 30%;
  height:100%;
  style.display: block;
}
.username{
  font-family: Major Mono Display;
  color: var(--txtcolor);
}
h1{
  color: var(--txtcolor);
  font-family: Poiret One;
}
