@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Poiret+One|Questrial');
:root{
  --background-color: #1b2128;
  --txtcolor:#dee2e8;
  --txtbox:#1b2128;
  --darktxt:#000f30;
}
body{
  background-color: var(--background-color);
  position: absolute;
  height: 100%;
  overflow:scroll;
  overflow-y: hidden;
  white-space:nowrap;
}
header{
  position: fixed;
}
.day{
  font-family: Major Mono Display;
  font-size: 2em;
}
.reading{
  font-family: Questrial;
  font-size: 1em;
}
.header{
  border-width: thin;
}
.person_image{
  width: 6%;
  height: 9%;
}
.day-box.PREP{
  background-color: var(--txtcolor);
  width: 60%;
  height:20em;
  display: block;
  margin:30px;
  padding:50px;
  float:left;
}
.day-box.CURRENT{
  background-color: var(--txtcolor);
  width: 30%;
  height:20em;
  display: block;
  margin:30px;
  padding:20px;
  float:left;
}
.day-box.COMPLETED{
  background-color: var(--txtcolor);
  width: 30%;
  height:20em;
  display: block;
  margin:30px;
  padding:50px;
  float:left;
}
.username{
  font-family: Major Mono Display;
  color: var(--txtcolor);
  font-size: 4em;
}
a:link{
  color: var(--txtcolor);
  text-decoration: none;
  font-family: Poiret One, Helvetica, Arial, sans-serif;
  font-size: 1em;
}
a.assignment_link{
  color: var(--darktxt);
  font-family: Questrial;
}
h1{
  color: var(--txtcolor);
  font-family: Poiret One;
  font-size: 2em;
}
